<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhdemo.demo.dao.FindMapper">
    <select id="findAll" resultType="com.yhdemo.demo.vo.UserVo">
        SELECT user_info.username, email, gender, user_info.birthday, register_time
        FROM user_info
                 LEFT JOIN user_register_info
                           ON user_info.username = user_register_info.username
    </select>
</mapper>